<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel=" stylesheet" href="/stylesheets/lite-yt-embed.css" />
		<meta charset="UTF-8">
	</head>

	<body>
		<%- include("_navigation") %>
		<h1 class=<%= (title==="") ? "home" : "" %>><%= title %></h1>

