<div class="modal-background modal-show">
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title">Become Member</div>
        </div>
        <div class="modal-body">
            <form action="users/membership" method="POST">
                <div class="form-group">
                    <label for="member-password" class="form-label">Member Password*</label>
                    <input type="password" id="member-password" name="member_password" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-primary m-3">Cancel</button>
            </form>
        </div>
    </div>
</div>