<div class="modal-background">
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title">Become Member Or Admin</div>
        </div>
        <div class="modal-body">
            <form action="users/membership" method="POST">
                <div class="form-group">
                    <label for="password" class="form-label">Member Or Admin Password*</label>
                    <input type="password" id="password" name="password" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-primary m-3" id="btn-cancel">Cancel</button>
            </form>
        </div>
    </div>
</div>