<nav class="nav">
    <div class="logo"><a href="/">Members Only</a></div>
    <ul>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/users/login">Log In</a></li>
        <li class="nav-item"><a href="/users/signup">Sign Up</a></li>
    </ul>
</nav>