<%- include("_header") %>
<div class="container">
  <article>
    <p>
      The page is made for the Odin project as the
      <a href="https://www.theodinproject.com/lessons/nodejs-members-only"
        >Members Only
      </a>
      project in my version. The focus is on user authentication in a Node.js
      app by Passport.js. Here I accomplished the easiest way to authenticate
      users, the session based authentication. In Passport, this is the
      local-strategy, users authenticated by their username and password.
      According the original requirements users can post messages, which anybody
      can see. Posting is possible only after login.
    </p>

    <h2>How is my version different?</h2>

    <p>
      I thought, posting videos are more interesting than posting text messages
      only. Please do not refrain from posting your favorite youTube video here,
      with your comments. Users after login are capable to like your post, but
      everybody can see how many likes the post has. All this is extra.
    </p>

    <p>
      Although this project is not about my webdesign skills, I tried to create
      something unusual and spectacular, which is very nice. I also tried it
      without any styling framework this time. I have created a kind of dark
      theme, because I know, you like these better. I tried to make it exciting,
      so I used stronger contrasts and cleaner colours than I would have done in
      a business style project. I hope, you will like it and you will like this
      site on TOP.
    </p>

    <h2>All about membership</h2>

    <p>
      Registered users can become members. Members can see the date and authors
      of the posts, but they cannot delete posts. This is the role of the admin,
      who is me ;-) I think, I will need to look back, to keep the language free
      from swearing. You can try to crack the admin password, but I will not
      give you this.
    </p>

    <p>
      You can become member on a very simple way. Register with my
      <a href="https://alexerdei73.github.io/fakebook">Fakebook</a>
      app. There is possible to post YouTube videos there too, so this idea is
      not new. The authentication is more complex there, you will need to verify
      your email, so it must be real. The member password is the title of the
      song, which is posted there last. This is the last song currently, but if
      you post something else there, you can confuse others, so make it more
      difficult them to become members here. Anyway I tried to make both apps
      good fun for you guys, so enjoy :)
    </p>

    <p>
      I am quite often online on Fakebook and you can leave messages to me
      there, because the messanger is working for text messages. It also shows
      when I am online, similarly to the original site.
    </p>
  </article>
  <div class="dragon"></div>
</div>
<%- include("_footer") %>
