<%- include("_header") %>
<p>Please log in here or sign up for an account ...</p>
<%- include("_login_form") %>
<p>You don't have an account yet?</p>
<a href="/users/signup">Sign Up</a>
<%- include("_footer") %>