<%- include("_header") %>
<div class="container">
  <div class="content">
    <p>Please log in here or sign up for an account ...</p>
    <%- include("_login_form") %>
    <p>You don't have an account yet?</p>
    <a href="/users/signup">Sign Up</a>
  </div>
  <div class="dragon"></div>
</div>

<%- include("_footer") %>
