<%- include("_header") %>
<% if (currentUser) { %>
    <a href="/posts/create" class="btn btn-primary link-btn">Create Post</a>
    <a href="/users/logout" class="btn btn-primary link-btn m-3">Log Out</a> 
    <button type="button" class="btn btn-primary" id="btn-membership">Membership</button>
<% } %>
<% if (posts.length > 0) { %>
    <% posts.forEach(function(post) { %>
        <%- include("_postcard", { post: post }) %>
    <% }) %>
<% } %>
<%- include("_membership_modal_form") %> 
<script src="/javascript/handleModal.js"></script>
<%- include("_footer") %>