:root {
  --bg-color: #1f1f1f;
  --color: #f1f1f1;
  --color-primary: #0044ff;
  --color-primary-hover: #0077ff;
  --color-link: #43e3ff;
  --color-shadow: dodgerblue;
  --bg-error: rgb(255, 211, 211);
  --color-error: rgb(196, 0, 0);
  --bg-light: rgb(177, 177, 177);
  --bg-nav: black;
}

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  color: var(--color);
  box-sizing: border-box;
  margin-top: 50px;
}

a {
  color: var(--color-link);
  outline: none;
  box-shadow: none;
}

a:focus {
  border: 2px solid var(--color-shadow);
  box-shadow: 0 0 3px 1px var(--color-shadow);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.form-label {
  min-width: 130px;
  margin-right: 10px;
}

.form-control {
  background-color: var(--bg-light);
  height: 20px;
  width: 245px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: 2px solid var(--color-primary);
  border-radius: 3px;
}

.form-control:focus {
  border: 2px solid var(--color-shadow);
  box-shadow: 0 0 3px 1px var(--color-shadow);
}

.btn {
  padding: 5px 10px;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--bg-light);
  border-radius: 3px;
  text-decoration: none;
}

.link-btn {
  padding: 8px 12px 5px;
}

.btn:focus {
  box-shadow: 0 0 5px 3px var(--color-shadow);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

ul {
  padding: 0;
}

.error {
  list-style: none;
  color: var(--color-error);
  background-color: var(--bg-error);
  padding: 10px;
  border-radius: 3px;
  margin: 5px 0;
  max-width: 370px;
}

.nav {
  background-color: var(--bg-nav);
  border-bottom: 1px solid var(--color-link);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul{
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  text-decoration: none;
  font-size: large;
}

.nav a:focus {
  border: none;
  box-shadow: none;
}

.nav a:focus-visible {
  border: 2px solid var(--color-shadow);
  box-shadow: 0 0 3px 1px var(--color-shadow);
}

.nav-item, .logo {
  margin: 0 28px;
}

.logo {
  font-weight: bold;
}

.textarea {
  height: max-content;
}

.m-3 {
  margin: 15px;
}

.card-title {
  background-color: var(--bg-nav);
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link);
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.card-body {
  display: flex;
}

.card-body iframe {
  flex: 0 0 400px;
  height: 300px;
  margin: 10px;
}

.card-body p {
  flex: 0 1 400px;
  margin: 10px;
  font-size: large;
}

.card {
  border: 1px solid var(--color-link);
  border-radius: 3px;
  margin: 20px;
  margin-left: 0;
  max-width: 800px;
}

@media (max-width: 650px) {
  .logo {
    display: none;
  }

  .nav ul {
    justify-content: space-between;
    margin-right: 28px;
    margin-left: 28px;
  }

  .nav-item {
    margin: 0;
  }

  .card-body {
    flex-wrap: wrap;
    max-width: min-content;
  }

  .card-body iframe {
    flex-shrink: 1;
  }

  .card {
    max-width: min-content;
  }

}